@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css');
:root {
  --scrollbar-width: 18px;        /* Wider scrollbar */
  --scrollbar-track-bg: #e0e0e0;  /* Track background color */
  --scrollbar-thumb-bg: #5850ec;  /* Thumb background color (indigo) */
  --scrollbar-border-radius: 50px; /* More rounded thumb and track */
  --scrollbar-thumb-border: 4px solid #e0e0e0; /* Thumb border */
}

* {
  font-family: "Exo 2", sans-serif;
}


/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: var(--scrollbar-width);  /* Wider scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);  /* Track background color */
  border-radius: var(--scrollbar-border-radius); /* Rounded scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);  /* Thumb color (indigo) */
  border-radius: var(--scrollbar-border-radius); /* Fully rounded scrollbar thumb */
  border: var(--scrollbar-thumb-border);        /* Padding between thumb and track */
}

/* For Firefox */
* {
  scrollbar-width: var(--scrollbar-width); /* Use custom width */
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg); /* Thumb and track colors */
}
